# webstorm
/.idea/

# node_modules
/node_modules/

# repos
/eo-core/
/eo-employees/
/eo-engine/
/eo-np/
/fed-core/
/fed-documentformats/
/fed-sbis-ru/
/fed-specifications/
/sbis-engine/
/saby-types/
/saby-ui/
/saby-wasaby-controls/
/sbis-rmi/
/sbis-sbis3controls/
/sbis-sdn/

# custom build
/_build/

# platform build
/application/
/build-ui/

# other
/package-lock.json
