/.idea/

/node_modules/

/access-control/
/eo-core/
/eo-employees/
/eo-engine/
/eo-np/
/fed-core/
/fed-documentformats/
/fed-sbis-ru/
/fed-specifications/
/inside/
/rmi/
/sbis-engine/
/sbis3controls/
/types/
/UI/
/wasaby-app/
/wasaby-controls/

/_build/

/package-lock.json
